@use 'base/variables' as v; 
@use 'base/mixins' as m;
//@use 'sass:math'; //importar las funciones de math 

.nav-principal {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    
    @include m.tablet {
        flex-direction: row;
        //gap: math.div( v.$separacion, 4);
        margin-top: 0;
    }
    
    a {
        text-align: center;
        color: v.$blanco;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1rem;
        
        @include m.tablet {
            margin-bottom: 0;
            margin-right: 10px;
        }

        &:hover {
            color: v.$secundario;
        }

        &.activo {
            color: v.$secundario;
        }
    }
}